<!-- Navbar component -->
<app-navbar></app-navbar>

<!-- Hero section -->
<header class="container-fluid">
    <div id="hero-container" class="row">
        <div id="hero-body" class="col-md-8">
            <h1 id="hero-title">
                Beautiful food & takeaway, <span class="brand-span">delivered</span> to your door.
            </h1>
            <p id="hero-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
            </p>
            <button id="hero-button">
                Place an Order
            </button>
            <div id="review-body">
                <img src="assets/image/review-logo.png" alt="review logo" style="width: 5rem;">
                <p id="review-text">
                    <span class="brand-span">4,8 out of 5</span> based on 2000+ reviews
                </p>
            </div>
        </div>
        <div id="hero-img" class="col-md-3">
            <img src="assets/image/hero.png" alt="hero logo">
        </div>
    </div>
</header>

<!-- Footer component -->
<app-footer></app-footer>