/* Banner formatting */
#banner{
    /* Style */
    font-size: 15px;
    height: 20px;
    min-height: 48px;
    padding: 5px 3%;
}
#banner-wrap{
    /* Style */
    font-size: 15px;
    height: 20px;
    max-width: 1000px;
}
#wrap-text{
    /* Style */
    font-size:15px;
    height:20px;
    color: rgba(255, 255, 255, 0.8);
}
/* Hero title formatting */
#hero-title{
    /* Style */
    margin: 20px 0;
    font-size: 60px;
    font-weight: 700;
    max-width: 580px;

}

/* Hero text formatting */
#hero-text{
    /* Display */
    margin-bottom: 10px;
    /* Style */
    font-size: 18px;
    font-weight: 400;
    color: #546285;
}

/* Hero button */
.brand-span{
    /* Style */
    color: #35b8be;
}
#hero-button{
    /* Display */
    padding: 10px 35px;
    /* Style */
    color: #fff;
    background-color: #35b8be;
    border: 1px solid #35b8be;
    border-radius: 6px;
}