nav {
    /* Style */
    background-color: #fff;
    padding: 20px 3%;
}

.container {
    /* Style */
    max-width: 1200px;
}

/* ----- Nav links formatting ----- */
.navbar-nav a {
    /* Style */
    padding: 20px 16px;
    color: #28224b;
}

.navbar-nav a:hover{
    /* Style */
    opacity: 0.8;
}

#home {
    /* Style */
    color: #35b8be;
}

/* ----- Logo formatting ----- */
#logo {
    width: 40px;
    max-width: 100%;
}