<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/image/logo.png" alt="logo" id="logo" class="navbar-toggler-icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" id="home" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="">Order</a>
          <a class="nav-link" href="#">Company</a>
          <a class="nav-link" href="#">FAQ</a>
          <a class="nav-link" href="#">Contant</a>
        </div>
      </div>
    </div>
</nav>