/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Inter";
}

/* My colors */
.brand{
    background-color: #35b8be
}
.black{
    background-color: #191b22
}
.slate-grey{
    background-color:#7e828f
}
.coral{
    background-color: #ff8946
}
.alice-blue{
    background-color: #f5fbfc
}