<div class="container-fluid text-center footer">
  <div class="row">
    <!-- Logo section -->
    <div class="col-6 text-start">
      <p><img src="assets/image/logo.png" class="img-fluid" style="width: 2rem;" alt="logo" /></p>
      <p>Takeaway & Delivery</p>
    </div>
    

    <!-- Offers section -->
    <div class="col-2 text-start">
      <h6>Offers</h6>
      <p>Print menu(pdf)</p>
      <p>Print vegan menu(pdf)</p>
    </div>

    <!-- Service section -->
    <div class="col-2 text-start">
      <h6>Our restaurant</h6>
      <p>About us</p>
      <p>Contact us</p>
    </div>

    <!-- Information section -->
    <div class="col-2 text-start">
      <h6>informations</h6>
      <p>How to order?</p>
      <p>Trading terms</p>
      <p>Allergens information</p>
      <p>FAQ</p>
      <p>Privacy Policy</p>
    </div>

    <div class="row social">
      <!-- Author informations -->
      <div class="col-6 text-start">
        <p>
          Build by <a href="">Norbert Sidó</a> - Powered by
          <a href="">Webflow</a>
        </p>
      </div>

      <!-- Social meda links -->
      <div class="col-6 text-end">
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
